body {
  background-color: SlateGray;
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}


section.player {
    flex: 3;
}

section.playlist {
    flex: 1;
}

div.playlistbody {
    background-color: black;
    height: 323px;
    overflow: scroll;
}

#playlistqueue {
    display: flex;
    justify-content: flex-start;
}

.ui-sortable {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

span {
  display: flex;
  justify-content: center;
}
