body {
  background-color: SlateGray;
  color: white;
}

header {
  text-align: center;
}

main {
  display: flex;
}

section.player {
  flex: 3;
}

section.playlist {
    flex: 1;
}

div.playlistbody {
  background-color: black;
  height: 525px;
  overflow: scroll;
}

#playlistform {
  text-align: center;
}

#playlistqueue {
  text-align: left;
}

#playlistqueue li {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  align-items: center;
}

#playlistqueue li img {
  margin-right: 20px;
}

#playlistqueue li span {
  flex: 2;
}

#playlistqueue li .deletebutton {
  flex: 1;
  margin-left: 10px;
}
