body {
  background-color: SlateGray;
  color: white;
}

section.body {
  display: flex;
}


section.player {
    flex: 3;
}

section.playlist {
    flex: 1;
    background-color: black;
}

#playlist ul a {
    color: GreenYellow;
}

header {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  justify-content: center;
}

svg {
  height: 50px;
  width: 50px;
}
