<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Vidroom</title>
    <link rel="stylesheet" href="{% static 'vidroom/site.css' %}" />
  </head>
  <body>
    <section>
      <div>
        <h1>VidRoom Home</h1>
      </div>
      <div>
        <form action="{% url 'new_vidroom_redirect' %}" method="post">
          {% csrf_token %}
          <button name="submit">Get a VidRoom!</button>
        </form>
      </div>
    </section>
  </body>
  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="http://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
  <script src="{% static 'vidroom/site.js' %}"></script>
</html>
