<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vidroom</title>
    <link rel="stylesheet" href="{% static 'vidroom/vidroom.css' %}" />
  </head>
  <body>
    <header>
      <h1>VidRoom</h1>
    </header>
    <main>
      {% csrf_token %}
      <section class="player"
      data-log="{% url 'vidroom_event_log' vidroom_id %}"
      data-query="{% url 'vidroom_status_query' vidroom_id %}">
        <div id="player"></div>
      </section>
      <section class="playlist">
          <h2>Playlist</h2>
          <div class="playlistbody">
              <form id="playlistform" action=
              "{% url 'vidroom_playlist_add' vidroom_id %}" method="post"
              data-remove="{% url 'vidroom_playlist_remove' vidroom_id %}"
              data-move="{% url 'vidroom_playlist_reorder' vidroom_id %}">
                  {% csrf_token %}
                  <label><input id="playlistinput" type="text"
                    placeholder="A valid YouTube URL"></label>
                  <input type="submit" name="Add to playlist">
              </form>
              <ul id="playlistqueue">
              </ul>
          </div>
      </section>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.js"></script>
  <script>
      var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
  </script>
  </scrip>
  <script src="{% static 'vidroom/ajax_csrf_setup.js' %}"></script>
  <script src="{% static 'vidroom/vidroom.js' %}"></script>
</html>
